{:deps
 {org.clojure/clojure {:mvn/version "1.10.0"}
  danlentz/clj-uuid {:mvn/version "0.1.7"}
  org.apache.kafka/kafka-clients {:mvn/version "2.2.0"}
  integrant {:mvn/version "0.7.0"}
  org.clojure/test.check {:mvn/version "0.9.0"}
  fundingcircle/jackdaw {:mvn/version "0.6.4"}
  integrant/repl {:mvn/version "0.3.1"}
  hazard {:mvn/version "0.3.0"}
  vvvvalvalval/scope-capture {:mvn/version "0.3.2"}}

 :mvn/repos
 {"confluent" {:url "https://packages.confluent.io/maven/"}}

 :paths ["src" "examples/dev" "examples/resources" "examples/src"]
 }

