<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%-4relative [%thread{2}] %-10level %logger{35} - %msg%n</pattern>
            <!--            <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>-->
        </layout>
    </appender>

    <logger name="org.apache.kafka" level="WARN" additivity="false"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>